<form action="/articles" method="POST">
  <label>title: <input type="text" name="title"></label>
  <label>content: <input type="text" name="content"></label>
  <input type="submit" value="Submit">
</form> 