<form method="POST" action='/articles'>
    <input id="title" type="text" name="title">
    <input id="content" type="text" name="content">
    <button type="submit" value="Submit">Submit</button>
</form>